<div class="col-md-5">
  <h3>Contact Information</h3>
  {% for contact in contacts %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <b class="left">
          {{ contact.contact }}
        </b>
        <b class="right">
          {{ contact.get_relationship_display }}
        </b>
        <div class="clear"></div>
      </div>
      <table class="table">
        <tr>
          <td>Phone:</td>
          <td>
            <table class="table table-condensed">
              {% for p in contact_phone %}
                {% ifequal p.0.contact contact.contact %}
                  {% for phone in p %}
                    <tr>
                      <td>{{ phone.get_phone_type_display }}</td>
                      <td>{{ phone.phone }}</td>
                    </tr>
                  {% endfor %}
                {% endifequal %}
              {% endfor %}
            </table>
          </td>
        </tr>
        <tr>
          <td>Email:</td>
          <td>
            <table class="table table-condensed">
              {% for e in contact_email %}
                {% ifequal e.0.contact contact.contact %}
                  {% for email in e %}
                    <tr>
                      <td>{{ email.email }}</td>
                    </tr>
                  {% endfor %}
                {% endifequal %}
              {% endfor %}
            </table>
          </td>
        </tr>
        <tr>
          <td>Address:</td>
          <td>{{ contact.contact.address1 }}</td>
        </tr>
        <tr>
          <td>Address:</td>
          <td>{{ contact.contact.address2 }}</td>
        </tr>
        <tr>
          <td>City:</td>
          <td>{{ contact.contact.city }}</td>
        </tr>
        <tr>
          <td>Zip Code:</td>
          <td>{{ contact.contact.zipcode }}</td>
        </tr>
      </table>
    </div>
  {% endfor %}
  <!--<p><a class="btn btn-default" href="#" role="button">edit
&raquo;</a></p>-->
 <p>
    <a data-target="#contactEdit"
       class="btn btn-default"
       href="/crm/contactup/1"
       role="button"
       data-toggle="modal">edit &raquo;</a>
  </p>
</div>
<div class="modal fade" id="contactEdit"
     tabindex="-1" role="dialog" aria-hidden="true">
  {% include "crm/modal_student.html" %}
</div>

