
{% if groups %}
<div class="col-md-3">
  <h3>Groups</h3>
  <div class="panel panel-default">
    <table class="table table-striped">
        <tbody>
          {% if groups.aau_group %}
          <tr>
              <td>AAU</td>
              <td>{{ groups.aau_group.0 }}</td>
          </tr>
          {% endif %}
          {% if groups.bbc_group %}
          <tr>
              <td>BBC</td>
              <td> 
                  {{ groups.bbc_group.0.group }}
              </td>
          </tr>
          {% endif %}
          {% if groups.mc_group %}
          <tr>
              <td>MC</td>
              <td>{{ groups.mc_group.0.group }}</td>
          </tr>
          {% endif %}
          {% if groups.instructor_group %}
          <tr>
              <td>Instructor</td>
              <td>{{ groups.instructor_group.0 }}</td>
          </tr>
          {% endif %}
          {% if groups.leadership_group %}
          <tr>
              <td>Leadership</td>
              <td>{{ groups.leadership_group.0 }}</td>
          </tr>
          {% endif %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}
