<div class="col-md-4">
  <h3>Martial Arts History</h3>
  <div class="panel panel-default">
    <table class="table">
      <tr>
        <td>Start Date:</td>
        <td>{{ student.start_date }}</td>
      </tr>
      <tr>
        <td>Anniversary Month:</td>
        <td>{{ student.get_anniv_month_display }}</td>
      </tr>
      <tr>
        <td>Total Years:</td>
        <td>{{ student.total_years }}</td>
      </tr>
      <tr>
        <td>Rank:</td>
        <td>{{ student.rank }}</td>
      </tr>
      <tr>
        <td>Last Test:</td>
        <td>{{ last_test }}</td>
      </tr>
      <tr>
        <td>Next Test:</td>
        <td>{{ tipping_group }}</td>
      </tr>
      <tr>
        <td>Class:</td>
        <td>{{ student.class_time }}</td>
      </tr>
      <tr>
        <td>Uniform Size:</td>
        <td>{{ student.uniform_size }}</td>
      </tr>
      <tr>
        <td>Belt Size:</td>
        <td>{{ student.belt_size }}</td>
      </tr>
    </table>
  </div>
  <p>
<!--    <a data-target="#relEdit"
       class="btn btn-default"
       href="/crm/relup/{#{ contacts.0.id }#}"
       role="button"
       data-toggle="modal">edit &raquo;</a>
  </p>
</div>
<div class="modal fade" id="relEdit"
     tabindex="-1" role"dialog" aria-hidden="true">
  {#% include "crm/modal.html" %#}
-->
</div>
