{% load addcss %}
<div id="popover-head" class="hide">Search</div>

<div id="popover-content" class="hide">
    <form role="form" action="/crm/search/" method="get">
        {% for key, value in search_form.items %}
            {% for field in value %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}"
                    class="control-label">
                    {{ field.label }}
                </label>
                {{ field|addcss:"form-control" }}
            </div>
            {% endfor %}
        {% endfor %}
        <button type="submit" 
            class="btn btn-primary btn-sm">Search</button>
    </form>
    <a href="/crm/search/" class="pull-right">Advanced...</a>
</div>

{% block script %}

<script>
    $('#search').popover({
        trigger: "click",
        html: true,
        title: function() {
            return $("#popover-head").html();
        },
        content: function() {
            return $("#popover-content").html();
        }
    });
</script>
                                                                                {% endblock %}
