{% extends "base.html" %}

{% block title %}Results{% endblock %}

{% block body %}
<br/><br/><br/><br/>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="panel panel-default">
                <ul class="list-group">
                    {% for student in results %}
                    <li class="list-group-item">
                        <a href="/crm/{{ student.id }}">{{ student }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
